

.main-header{ 
  background-image: url("/assets/Background_Intro.png");
  background-size: cover;
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  
}

.info { 
  display: flex;
  width: 680px;
  height: 327px;
  flex-direction: column;
  position: absolute;
  align-items: center;
  margin-bottom: 80px;
  img { 
    aspect-ratio: 1/1;
    width: 112px;
    height: 112px;
    margin-bottom: 56px;
  }

  h1 { 
    margin-bottom: 20px;
    margin-top: 8px;
  }

}

p { 
  font: var(--inconsolata);
  color: var(--font-gray500);
  letter-spacing: 1.7px;
  text-align: center;

}

.icons { 
  display: flex;
  gap: 16px;
  margin-top: 89px;
  
}
.icon-container{ 
  display:flex;
  flex-grow: 1;
  box-sizing: border-box;
  background: var(--font-gray300);
  border-radius: 999px;
  gap: 8px;
  /* border: solid white 1px; */
  padding: 8px 16px;
  justify-content: center;
  max-height: 40px;
  align-items: center;
  font: var(--font-mavenpro-md);
  color: var(--font-gray500);
  img { 
    /* position: relative; */
    margin-top: 55px;
    aspect-ratio: 1/1;
    width: 24px;
    height: 24px;
    margin-right: 1px;
  }
}

.link-next { 
  display:block;
  margin-top: 89px;
  img { 
    aspect-ratio: 1/1;
    height: 32px;
  }
}

